doctype html
html
  head
    title hello plug
  body
    h1#h1.H1.H2 pug pug
    h2(class="h2",id="h2") hello
    p(style="color:red;").
      1e2uEDxSKVZSKhlIoQR3Ea9TdPa91xvP7Ye
      1e2uEDxSKVZSKhlIoQR3Ea9TdPa91xvP7Ye
      1e2uEDxSKVZSKhlIoQR3Ea9TdPa91xvP7Ye
    a(href="javascript:;") lllll
    .div
